.detail_wrapper{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 94.3%;
    width: 89%;
    padding: 10px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.6);

    overflow: auto;
}
.detail_title{
    font-size: 13px;
    color: white;
}
.detail_overview{
    font-size: 13px;
    color: white;
}
