ul{
    padding: 0;
}
li{
    width: 120px;
   padding: 8px;
   font-weight: 500;
   list-style-type: none;
   border-bottom: solid rgb(130, 140, 180) 2px;;
   position: relative;
}
li button{
    height: 18px;
    background-color: rgb(130, 140, 180);
    color: white;
    font-size: 10px;
    border: none;
    border-radius: 3px;
    position: absolute;
    right: 0px;
}