.inputForm{
    width: 280px;
    margin: 8px;
}
span{
    font-size: 13px;
}
input{
    width: 272px;
    display: block;
}
.messageDiv{
    height: 20px;
}
.error{
    color: red;
}
.success{
    color: green;
}