.todo-form{
    display: flex;
    width: 280px;
    margin: 10px;
    padding: 30px;
    border-radius: 5px;
    background-color: white;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}
.todo-name{
    font-size: 15px;
    font-weight: 500;
    border-bottom: solid rgb(130, 140, 180) 2px;
    margin-bottom: 30px;
}